.friend-list > .item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
  border-radius: 8px;
}

.friend-list .name {
  font-size: 20px;
  font-weight: 500;
}

.friend-list .status {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  border-radius: 50%;
  /* outline: 1px solid blueviolet; */
}

.status.online {
  background-color: rgb(26, 252, 26);
}
.status.offline {
  background-color: rgb(253, 61, 61);
}
